<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/header.ejs')%>
</head>
<body style="background-color: grey;">

    <header>
        <%- include ('./partials/nav.ejs')%>
    </header>  
    <div class="intro">
        <H1 class="Welcome">Welcome To Chest Day</H1><br>
    </div>    

    <div class="add">
        <h2 class="add"><a href="/new">Add New Exercise</a></h2><br>
    </div>
    <div class="Back">
        <h2 class="add"><a href="/home/workouts">Go Back</a></h2><br>
    </div>


 
    <div class="cardWrap">   
        <%for(let i = 0; i <log.length; i++){%>
        <%if(log[i].type == "chest" | log[i].type == "Triceps" ){%>
        <div class="card p-1 m-3" style="width: 18rem;">
            <div class="card-body text-bg-dark mb-3">
            <h5 class="card-title "><%=log[i].exercise%></h5>
            <form action="/home/<%=log[i]._id%>/edit">
            <input type="submit" value="Update Weight">
            </form>
            <form action="/home/<%=log[i]._id%>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Exercise">
            </form><br>
            <p class="card-text">Set 1: Weight: <%=log[i].setOne%><br>
                Reps: <%=log[i].repsOne%><br>
                Set 2: Weight: <%=log[i].setTwo%><br>
                Reps: <%=log[i].repsTwo%><br>
                Set 3: Weight: <%=log[i].setThree%><br>
                Reps: <%=log[i].repsThree%><br>
                Set 4:Weight: <%=log[i].setFour%><br>
                Reps: <%=log[i].repsFour%><br></p>
            <a href="/home/workouts-chest/<%=log[i]._id%>" class="btn btn-primary">More Info</a>
            </div>
        </div>
        <%}%>
        <%}%>

    </div>    

</body>
</html>
